.navbar{
    background-color: aqua;
    padding-right: 15px;
    padding-left: 15px;
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
li{
    list-style: none;
    display:inline-block;
}
.logo a{
    font-size: 40px;
    font-weight: 700;
    color: blueviolet;
}
li a{
        color:blueviolet;
        font-size: 25px;
        font-weight: bold;
       margin-right: 25px;

}
