*{
text-decoration: none;
}
.navbar{
    background-color: aquamarine;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex;*
    align-items: center;
    justify-content:space-between;
}
.Logo a{
    font-size:40px;
    font-weight: 700;
    color:blue;
    }
    li{
        list-style: none;
        display: inline-block;
    }
    li a{
        color:blueviolet;
        font-size: 25px;
        font-weight: bold;
        margin-right: 25px;
    }
    button{
        background-color: white;
        margin-left: 20px;
        border-radius: 25px;
        padding: 15px;
        width: 90px;
    }
    button a{
        color: black;
        font-size: 15px;
        

    }